@model IEnumerable<Praesidium.Data_Models.Admin.ShFile>

@{
    ViewBag.Title = "Files";
}

<h2>Files</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileStore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateUploaded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShSySection.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShUser.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShUser1.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileStore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateUploaded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShSySection.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShUser.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShUser1.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RecId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RecId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RecId })
        </td>
    </tr>
}

</table>
