@using Microsoft.Ajax.Utilities
@model IEnumerable<Praesidium.Data_Models.Admin.ShFile>

@{
    ViewBag.Title = "Files";
}

<h2>Files</h2>

<p>
    @Html.ActionLink("Create New", "FilesCreate")
</p>
<table class="table">
    <tr>
        <th style="width: 20%;">
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            Content
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateUploaded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.ActionLink("Download","File","Download",new { id=item.RecId},null)
            <br />
            <a class="iframe" href="https://docs.google.com/gview?url=@Url.Action("File","Download",new { id=item.RecId},Request.Url.Scheme)">View</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description).ToString().Substring(0,25)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShUser1.Username)
        </td>
        <td
            >@Html.DisplayFor(modelItem => item.DateUploaded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModified)
        </td>
        <td>
            @Html.ActionLink("Edit", "FilesEdit", new { id=item.RecId }) |
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
