
@{
    ViewBag.Title = "DropDownPages";
}

<h2>Trafficking</h2>
<ul>
    <li>@Html.ActionLink("Trafficking", "Resource", "Resources")</li>
    <li>@Html.ActionLink("Trafficking", "Statistics", "Statistics")</li>
    <li>@Html.ActionLink("Trafficking", "Adults", "Adults")</li>
    <li>@Html.ActionLink("Trafficking", "Teachers", "Teachers")</li>
    <li>@Html.ActionLink("Trafficking", "Teen", "Teen")</li>
    <li>@Html.ActionLink("Trafficking", "Youth", "Youth")</li>
</ul>

<h2>
    Cyber Security
</h2>
<ul>
    <li>@Html.ActionLink("CyberSecurity", "Resource", "Resources")</li>
    <li>@Html.ActionLink("CyberSecurity", "Statistics", "Statistics")</li>
    <li>@Html.ActionLink("CyberSecurity", "Adults", "Adults")</li>
    <li>@Html.ActionLink("CyberSecurity", "Teachers", "Teachers")</li>
    <li>@Html.ActionLink("CyberSecurity", "Teen", "Teen")</li>
    <li>@Html.ActionLink("CyberSecurity", "Youth", "Youth")</li>
</ul>

