
@{
    ViewBag.Title = "DropDownPages";
}

<h2>Trafficking</h2>
<ul>
    <li>@Html.ActionLink("Resources", "Resource", "trafficking")</li>
    <li>@Html.ActionLink("Statistics", "Statistics", "trafficking")</li>
    <li>@Html.ActionLink("Adults", "Adults", "trafficking")</li>
    <li>@Html.ActionLink("Teachers", "Teachers", "trafficking")</li>
    <li>@Html.ActionLink("Teen", "Teen", "trafficking")</li>
    <li>@Html.ActionLink("Youth", "Youth", "trafficking")</li>
</ul>

<h2>
    CyberSecurity
</h2>
<ul>
    <li>@Html.ActionLink("Resources", "Resource", "CyberSecurity")</li>
    <li>@Html.ActionLink("Resources", "Statistics", "CyberSecurity")</li>
    <li>@Html.ActionLink("Resources", "Adults", "CyberSecurity")</li>
    <li>@Html.ActionLink("Resources", "Teachers", "CyberSecurity")</li>
    <li>@Html.ActionLink("Resources", "Teen", "CyberSecurity")</li>
    <li>@Html.ActionLink("Resources", "Youth", "CyberSecurity")</li>
</ul>

