@using Microsoft.Ajax.Utilities
@model IEnumerable<Praesidium.Models.SearchResult>
@{
    ViewBag.Title = "Search";
}

<h2>Search Results</h2>

Your search for "@ViewBag.SearchString" resulted in @Model.Count() records that matched your search criteria.

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(@item.Title, "Show", "File", new { id = item.RecId }, null) - @Html.Raw(HttpUtility.HtmlDecode(item.Description)) - Uploaded on @item.DateUploaded.ToShortDateString()
            </td>
        </tr>
    }

</table>