<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/lodash.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <div class="container table-responsive">
        <div class="row">
            <div class="wrapper">
                <div class="side-bar">
                    <div class="logo">
                    <img src="http://1plusx.com/app/mu-plugins/all-in-one-seo-pack-pro/images/default-user-image.png" class="img-responsive center-block" alt="photo">
                    </div>
                    <ul style="margin-top:20px;margin-right:10px;margin-left:5px;">            
                        <li><a href="#" id="Admin_list">Index<span class="glyphicon glyphicon-home pull-right"></span></a></li>
                        <li><a href="#" id="Admin_list">Site Documentation<span class="glyphicon glyphicon-bookmark pull-right"></span></a></li>
                        <li><a href="#" id="Admin_list">Edit Users<span class="glyphicon glyphicon-user pull-right"></span></a></li>
                        <li><a href="#" id="Admin_list">Edit Content<span class="glyphicon glyphicon-cutlery pull-right"></span></a></li>
                        <li><a href="#" id="Admin_list">Log Out<span class="glyphicon glyphicon-eye-close pull-right"></span></a></li>
                        <li><a href="" id="Admin_list">Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
                    </ul>
                </div>
                <div class="content">
                    <div class="col-md-12">
                       <div class="panel panel-default">
                         
                            <div class="panel-body">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>