<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Praesidium</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script>
        function getAway() {
            // Get away right now
            window.open("http://weather.com", "_newtab");
            // Replace current site with another benign site
            window.close();
        }
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Praesidium", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="float: right;">
                    <li>
                        <a href="@Url.Action("Index", "Home")">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            Home
                        </a>
                    </li>
                    <li>@Html.ActionLink("Trafficking", "Index", "Trafficking")</li>
                    <li>@Html.ActionLink("Cyber Security", "Index", "CyberSecurity")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div style="background-color: red; width: 100%; height: 25px; font-size: 18px">
                <p>
                    test
                </p>
            </div>
        @RenderBody()
        <hr />
        <footer>
            <button id="get-away" style="font-family: Britannic; color: #000000" onclick="javascript: getAway();">Emergency <br /> Exit</button>

            <p>&copy; @DateTime.Now.Year - _Solutions</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
