<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/lodash.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/analytics.js"></script>

    <script> 
        function escape1() {
            var i = 0;
            if (i < 3) {
                window.location.replace('http://weather.com');

                window.open("http://google.com", "_newtab");
                self.close();
              
                window.open("http://weather.com", "_newtab");
                self.close();

                window.open("http://booking.com", "_newtab");
                self.close();
               
                window.open("http://travelocity.com", "_newtab");            
                self.close();

                i++;
            } else {

                self.close();
            }
        }
    </script>

</head>
<body>
   <!-- Div for trafficking hotline-->


    <div class="whitespace">
        <div class="row" style="margin-top:6px; font-size:18px;">
            <a href="tel:1888373788888" style="margin-left:8%;color:grey;margin-bottom:10%;"><span class="glyphicon glyphicon-phone-alt" style="color:dodgerblue;"></span>  National Human Trafficking Hotline <strong style="color:dodgerblue">1(888)373-7888</strong></a>
        </div>

    </div>

    <div class="navbar navbar-inverse navbar-fixed-top"  style="margin-top:10px;">

        <div class="container">
            <div class="navbar-header" style="margin-top:5px;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = ""})
                <img alt="Widget View" src="@Url.Content("~/Content/Images/TCS_Solutions.png")" style="height: 70px; padding-top: 5px;margin-left:-135px;"> 
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="float: right;">
                    @{
                        Html.RenderAction("NavigationItems", "Home");
                    }
                    <li>
                        <a data-toggle="collapse" href="#searchArea" aria-expanded="false" aria-controls="collapseExample">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            Search
                        </a>
                        <div class="searchArea accordion-body collapse" id="searchArea">
                            <input id="txtSearchlg" class="searchBar" type="text" style="width:150px;" placeholder="Keywords.." />
                        </div>             
                    </li>

                </ul>


            </div>
        </div>
    </div>

    <!-- Warning banner -->
    <div class="container body-content">
        @RenderBody()
    </div>

    <hr />
    <div>
        <div>
            <footer>

                <button id="get-away" style="font-family: 'Agency FB'; color: white" onclick="javascript: escape1();" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-warning-sign"></span><br /> Emergency Exit </button>

                <div class="row">
                    <div class="col-md-1 col-sm-1 col-lg-1"></div>
                    <div class="col-md-5 item" style="color: white; text-align: center;">
                        <h3>TCS Soltuions</h3>
                        <p>We are a devoted group of developers looking to make the world a safer and more informed place for adults and children alike.</p>
                    </div>
                    <div class="col-md-2 item" style="color: white; text-align: center;">
                        <h3>Services</h3>
                        <ul style="list-style-type: none; padding-right: 35px;">
                            <li><a href="http://praesidium-beta.azurewebsites.net/Trafficking">Trafficking</a></li>
                            <li><a href="http://praesidium-beta.azurewebsites.net/CyberSecurity">Cyber Security</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 item" style="color: white; text-align: center;">
                        <h3>About</h3>
                        <ul style="list-style-type: none; padding-right: 35px">
                            <li><a href="http://praesidium-beta.azurewebsites.net/Home/About">About</a></li>
                           
                        </ul>
                    </div>
                    <br />

                </div>
                <div class="col-md-12 col-sm-4 item social">
                    <a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                </div>
                <div class="col-md-12" style="color: white; text-align: center;">
                    <p>&copy; @DateTime.Now.Year - TCS Solutions</p>
                </div>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>